@use '../vars';

.landing {
    padding-top: 20px;
    padding-bottom: 40px;
    &__main-title {
        // TODO: mayhaps change from roboto to Monsterrat; figure out overflow
        font-family: 'Roboto', sans-serif;
        background: -webkit-linear-gradient(vars.$red, vars.$purple);
        font-weight: 700;
        font-style: italic;
        span {
            font-style: normal;
            font-weight: 300;
        }
        font-size: 60pt;
        width: 550px;
        word-break: break-word;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: vars.$max-mobile) {
            width: 100%;
            text-align: center;
            font-size: 40pt;
        }
    }
    &__mais-logo {
        max-height: 350px;
        @media (max-width: vars.$max-mobile) {
            max-height: 200px;
        }
    }
}

.about {
    text-align: center;
    h3 {
        text-align: left;
    }
    &__entry {
        p {
            max-width: 375px;
            text-align: left;
        }
        img {
            margin: 10px;
            height: 150px;
        }
        margin-bottom: 35px;
    }
}

.stats {
    &__title {
        width: 350px;
        text-align: left;
        @media (max-width: vars.$max-mobile) {
            text-align: center;
            width: 100%;
        }
    }
    &__img {
        width: 800px;
        max-width: 90vw;
    }
}

// TODO: keep cleaning this up!
.activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: vars.$max-mobile) {
        grid-template-columns: 1fr 1fr;
    }
    p {
        text-align: center;
    }
    %abs-pos {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &__cell {
        display: inline-block;
        vertical-align: bottom;
        aspect-ratio: 1;
        height: fit-content;
        position: relative;
        overflow: hidden;
        &:hover .activities__background {
            -webkit-transform: scale(1.025);
            transform: scale(1.025);
        }
        &:hover .activities__bounds {
            opacity: 0.6;
        }
        &:hover .activities__text {
            opacity: 1;
        }
    }
    &__background {
        width: 100%;
        object-fit: cover;
        transition: -webkit-transform 500ms;
        transition: transform 500ms;
        transition: transform 500ms, -webkit-transform 500ms;
    }
    &__bounds {
        @extend %abs-pos;
        opacity: 0;
        transition: opacity 500ms;
        background: linear-gradient(to bottom, vars.$purple, vars.$red);
        &--red {
            background: linear-gradient(to bottom, vars.$purple, vars.$blue);
        }
    }
    &__text {
        @extend %abs-pos;
        padding: 20px;
        text-align: center;
        opacity: 0;
        transition: opacity 500ms;
        // TODO: play around with sizes here; may want another breakpoint...
        @media (max-width: vars.$max-mobile) {
            h3 {
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
        }
    }
}

.timeline {
    &__events {
        display: flex;
        flex-direction: column;
    }

    &__no-event-message {
        text-align: center;
        font-weight: 100;
    }
}

.sponsors {
    &__text {
        max-width: 700px;
        p {
            margin-bottom: 15px;
            padding: 0 5vw 0 5vw;
        }
    }
    &__logos {
        max-width: 500px;
    }
}
