.embeds {
    &__apple {
        width: 100%;
        max-width: 500px;
    }
    &__spotify {
        width: 100%;
        max-width: 900px;
        margin-bottom: 30px;
    }
    &__youtube {
        width: 100%;
        max-width: 800px;
    }
}
