body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbarcustom{
  background: #131218;
  margin-bottom: 0 !important;
  height: 75px;
}

.navtext {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #FFFFFF;
  transition: opacity 0.2s;
  text-decoration: none;


}

.navtext:hover {
  opacity: 0.6; 
}
