.footer {
    height: 100px;
    div {
        justify-content: center;
    }
    padding: 10px 0 10px 0;
    color: white;
    margin-top: 50px;
    background-color: black;
    &__logo {
        margin: 10px;
        opacity: 1;
        transition: opacity 0.1s;
        &:hover {
            opacity: 0.5;
        }
    }
}
