@use './vars';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    color: white;
}

html {
    background-image: url(../public/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: vars.$max-mobile) {
    .mobile-hide {
        display: none;
    }
}

@media (min-width: vars.$min-desktop) {
    .desktop-hide {
        display: none;
    }
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    @extend %flex;
}

.flex-center {
    @extend %flex;
    align-items: center;
    justify-content: space-evenly;
}

.section {
    padding-top: 80px;
}

h2 {
    font-size: 35pt;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-style: italic;
    font-size: 20pt;
    font-weight: 400;
    margin-bottom: 10px;
}

p {
    font-size: 15pt;
    font-weight: 200;
}

// for the burger menu libary
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 25px;
}

.bm-burger-bars {
    background: linear-gradient(to left, vars.$purple, vars.$red);
}

.bm-cross-button {
    transform: scale(2) !important;
    top: 20px !important;
    right: 20px !important;
}

.bm-cross {
    background: linear-gradient(to top, vars.$purple, vars.$red);
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: vars.$menu-background;
    padding: 1em 1em 0;
}

.bm-item-list {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.bm-overlay {
    background: vars.$menu-background;
}
