@use './vars';

.main-title {
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(vars.$red, vars.$purple);
    font-weight: 700;
    > span {
        font-weight: 400;
    }
    font-size: 60pt;
    width: 550px;
    word-break: break-word;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: vars.$max-mobile) {
        width: 100%;
        text-align: center;
        font-size: 40pt;
    }
}

.mais-logo {
    max-height: 350px;
    @media (max-width: vars.$max-mobile) {
        max-height: 200px;
    }
}

.activity-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}
